:root{
    --mistyrose: #F7E5E4;
    --blackshadow: #BBACAF;
    --lightred: #FFD2CF;
    --spanishpink: #ffbfbf;
    --melon: #F6ACAD;
    --white: #FFFFFF;
    --black: #000000;
    --darkred: darkred;
}

*{
    font-family: "Fira Sans", Helvetica, sans-serif;
    font-size: 1em;
    scroll-behavior: smooth;
}


/* Element selectors */

body{
    background-color: var(--mistyrose);
    line-height: 1.1em;
}

header, footer{
    background-color: var(--melon);
    color: var(--white);
    width: 100%;
}

header{
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: space-between;
}

header h1{
    font-size: 250%;
}

nav{
    float: right;
    display: flex;
    justify-content: flex-end;
}


nav a{
    color: var(--white);
    font-size: 150%;
    margin-left: 25px;
    padding: 22px 15px;
}

nav a:hover{
    background-color: var(--blackshadow);
    color: var(--white);
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px;
}

main{
    background-color: var(--white);
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 40px;
}

section{
    margin-bottom: 10px;
}

p{
    line-height: 1.5em;
    font-size: 100%;
    margin-left: 5px;
}

a{
    text-decoration: none;
}





/* Class selectors */

.flex-and-wrap{
    display: flex;
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.nav-link{
    list-style: none;
    display: inline;
}

.nav-link a, .nav-link a:visited{
    color: var(--white);
}

.section-heading{
    font-size: 200%;
    width: 100%;
    background-color: var(--blackshadow);
    border: 3px solid var(--mistyrose);
    padding: 15px;
    margin-bottom: 15px;
    color: white;
}

.card{
    flex-basis: 48%;
    background-color: var(--white);
    /* border: 1px solid var(--blackshadow); */
    margin-bottom: 20px;
    height: 300px;
}

.card h3{
    background-color: var(--blackshadow);
    width: 50%;
    padding: 10px;
    font-size: 125%;
}

.card:visited{
    color: black;
}

.card:hover{
    opacity: 0.6;
    box-shadow: 0.5em 0.5em 0.3em var(--blackshadow);
    color: white;
}

.card:active{
    margin-top: 5px;
    margin-left: 5px;
}

.first-project{
    flex-basis: 98%;
}

.first-project h3{
    width: 25%;
}





/* ID Selectors */

#about-me{
    justify-content: space-between;
    background-color: var(--lightred);
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#about-me .img-class{
    flex: 0 0 33%;
    display: flex;
    justify-content: center;
}

#about-me .img-class img{
    object-fit: contain;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    /* border: 5px dashed var(--mistyrose);
    background-color: white;
    border-radius: 125px; */
}

#about-me .about-class{
    flex: 0 0 66%;
}

#projects{
    background-color: var(--mistyrose);
    justify-content: space-around;
    padding: 15px;
}





/* Media Queries */
@media screen and (max-width: 992px){
    #about-me .img-class{
        flex: 0 0 100%;
        margin-bottom: 10px;
    }

    #about-me .about-class{
        flex: 0 0 100%;
    }
}

@media screen and (max-width: 768px){
    #about-me .img-class{
        flex: 0 0 100%;
        margin-bottom: 10px;
    }

    #about-me .about-class{
        flex: 0 0 100%;
    }

    .card{
        flex-basis: 100%;
    }
}